/* Header Stlye */
.Phoebe a:hover,
.Royalty a:hover {
    color: #f9ca2b;
}
.Ideology a:hover {
    color: #f36d6a;
}
.Biotech a:hover {
    color: #51b8bd;
}
header nav li:nth-of-type(n+4):nth-of-type(-n+6):hover {
    color: #c00013;
}
header nav li:nth-of-type(n+7):nth-of-type(-n+9):hover {
    color: #ca763a;
}

/* Background Images */
.HeroImage {
    background-image: url("/Assets/Images/Index_Images/EGS_RimWorld_LudeonStudios_S1-2560x1440-410a62ec21d44260409182e1174cce2e.jpg");

    background-repeat: none;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

.FirstBackground {
    background-image: url("/Assets/Images/Index_Images/Worldoverview.jpg");

    background-repeat: none;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

.SecondBackground {
    background-image: url("/Assets/Images/Index_Images/6424729.png");

    background-repeat: none;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

.ThirdBackground {
    background-image: url("/Assets/Images/Index_Images/ship.png");

    background-repeat: none;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
}
/* Main Styling  */
/* ######################## */

h2 {
    text-align: center;
}

p {
    text-align: center;
    width: 90vw;
    margin: auto;
}

.What,
.How,
.Goal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.WhatIsRimworld,
.HowIsRimworld,
.RimworldGoal {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 1em;
}
.WhatIsRimworld {
    height: 40%;
}

.HowIsRimworld {
    height: 30%;
}

.RimworldGoal {
    height: 35%;
}

.WhatIsRimworld p,
.HowIsRimworld p,
.RimworldGoal p {
    width: 95%;
}

.FirstPicture {
    width: 55%;
}
.FirstPicture img{
    width: 100%;
    height: 100%;
    border: lime solid 3px;
}
.Videos {
    background-image: url("/Assets/Images/Index_Images/RimWorldPlanet2.jpg");

    background-repeat: none;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.VideoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10em;
}

.Videos div div iframe {
    width: 40vw;
    height: 50vh;
}

/* Scrolling */
/* .ScrollContainer {
    scroll-snap-type: y mandatory;
    height: 100vh;
}
main .scroll1 {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
} */

/* Footer */
footer {
    display: flex;
    height: 10vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

