/* Main Styling  */
.HeroPicture {
    background-image: url("/Assets/Images/EGS_RimWorldBiotech_LudeonStudios_DLC_S1_2560x1440-19a0197df9b0e27861336b212a73ef11.jpeg");
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

/* Header Style */
header nav li:hover {
    color: #51b8bd;
}
