/* Header Style */
header nav li:hover {
    color: #f36d6a;
}
body {
    background-color: #111a1f;
}

/* Main Styling  */

main > p {
    width: 90vw;
    margin: auto;
    margin-bottom: 1rem;
}
h2 {
    margin-top: 5rem;
}
h3 {
    color: #e86765;
}
main {
    text-align: center;
}
ul p {
    width: 90vw;
    margin: auto;
}

.IdeologyTrailer {
    padding: 2rem;
    width: 90vw;
    height: 90vh;
}
