/* Header Style */
header nav li:hover {
    color: #e3d16d;
}

body {
    background-color: #160f17;
}

/* Main Styling  */
/* ######################## */

h2 {
    margin-top: 5rem;
}
h3 {
    color: #dfcd6b;
}
main {
    text-align: center;
}

.Mechcluster {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 95vh;
}
.psycasting {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


/* Image Styling  */

.RoyaltyTrailer {
    padding: 2rem;
}
